<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="include :: admin-header('新闻幻灯片修改')" />
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" id="add_value" method="post">
            <input type="hidden" name="id" th:value="${carousel.getId()}">
            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>幻灯片标题
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="title" name="title" required=""
                           autocomplete="off" class="layui-input" th:value="${carousel.getTitle()}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="pic" class="layui-form-label">
                    <span class="x-red">*</span>幻灯片图片
                </label>
                <div class="layui-input-inline">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="uploadImg">上传幻灯片图片</button>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="pic" height="50" width="50" th:src="${carousel.getImage()}">
                            <p id="uploadText"></p>
                            <input type="hidden" name="image" id="photo" th:value="${carousel.getImage()}">
                        </div>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="url" class="layui-form-label">
                    <span class="x-red">*</span>跳转链接地址
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="url" name="url" required=""
                           autocomplete="off" class="layui-input" th:value="${carousel.getUrl()}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="sort" class="layui-form-label">
                    <span class="x-red">*</span>排序
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="sort" name="sort" required=""
                           autocomplete="off" class="layui-input" th:value="${carousel.getSort()}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="status" class="layui-form-label">
                    <span class="x-red">*</span>状态
                </label>
                <div class="layui-input-inline">
                    <select name="status" id="status" lay-verify="required" lay-search="">
                        <option value="0">正常</option>
                        <option value="1">停用</option>
                        <option value="2">删除</option>
                    </select>
                    <input type="hidden" id="statusValue" th:value="${carousel.getStatus()}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label  class="layui-form-label">
                </label>
                <button  class="layui-btn" lay-filter="add" lay-submit="">
                    修改
                </button>
            </div>
        </form>
    </div>
</div>
<script>


    layui.use(["jquery", "upload", "form", "layer", "element", "layedit"],
    function() {
        $ = layui.jquery;
        var element = layui.element,
            layer = layui.layer,
            upload = layui.upload,
            layedit = layui.layedit,
            form = layui.form;


        // // 建立编辑器
        // var index = layedit.build('content');
        // form.verify({
        //     content: function(value) {
        //         return layedit.sync(index);
        //     }
        // });

        $(function () {
            // 绑定下拉框
           $("#status").val($("#statusValue").val());
            layui.use('form', function () {
                var form = layui.form;
                form.render();
            });
        })

        // 图片上传
        var uploadInst = upload.render({
            elem: '#uploadImg'
            ,url: '/carousel/upload_photo'
            ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); // 上传loading
                // 预读本地示例文件，不支持ie8
                obj.preview(function (index, file, result) {
                    $("#pic").attr('src', result);
                })
            }
            ,done: function(res, index, upload){
                layer.closeAll('loading'); //关闭loading
                if (res.code == "200"){
                    $("#photo").val(res.filePath);
                    $("#uploaderror").remove();
                }
                layer.msg(res.msg);
            }
            ,error: function(index, upload){
                layer.closeAll('loading'); //关闭loading
                // 失败重新上传
                var uploadText = $('#uploadText');
                uploadText.html('<span id="uploaderror"><span style="color: #FF5722">上传失败</span><a class="layui-btn layui-btn-xs demo-reload">重试</a></span>');
                uploadText.find(".demo-reload").on('click', function () {
                    uploadInst.upload();
                })
            }
        });

        //监听提交
        form.on('submit(add)',function(data) {
            $.ajax({
                url : "/carousel/update",
                async : true,
                type : "POST",
                dataType : "json",
                data : $('#add_value').serialize(),
                // 成功后开启模态框
                success : function (source) {
                    if(source.code == "200"){
                        layer.alert(source.msg, {
                                icon: 6
                            },
                            function() {
                                //关闭当前frame
                                xadmin.close();

                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                    } else {
                        layer.alert(source.msg);
                    }
                },
                error : function() {
                    layer.msg("请求失败");
                }
            })
            return false;
        });
    });


</script>
</body>

</html>
